$color-blue: #3f51b5;
$color-pink: #f83d70;
$color-gray: #e7e9f6;


$primary-color:          $color-blue;
$secondary-color:        $color-pink;
$border-color:           $color-gray;
$non-select-text-color:  $color-gray;


$time: 0.3s; //transition-time